<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="futureloan" >
    <test name="注册接口">
        <classes>
            <class name="testCases.RegisterTest"></class>
            <class name="testCases.LoginTest"></class>
<!--            <class name="testCases.RechageTest"></class>-->
        </classes>
    </test>
</suite>